.max-height{
  min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)),
    url("https://drive.google.com/file/d/12OWogqfmEap1Qj9yhbv20FGHPZyZa41V/view?fbclid=IwAR2W8AgdmJXMUEQfYw3pQsK2JULYWevSAvrOxUT6IkMj-H1YAx5Zbhe2iG4") center/cover fixed no-repeat;
    animation: fadeInTopRight;
    animation-duration: 2s;
  .banner{
    font-family: $ffamily;
    h1{
      color: #eee;
      font-size: 2.5rem;
      font-weight: 700;
      text-shadow: 5px 5px 5px #171717;
    }
    p{
      color: #d9d9d9;
      font-size: 1.4rem;
      font-weight: 500;
      text-shadow: 5px 5px 5px #171717;
    }
  }
}
